.container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    align-items: center;
}

.grid-1 {
    grid-area: 1/1/1/4;
}

.grid-2 {
    grid-area: 1/5/1/8;
}

.grid-3 {
    grid-area: 1/9/1/12;
}

mat-card {
    margin: 10%;
    width: 500px;
    height: 500px;
}


example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
