mat-toolbar {
    box-shadow: 5px 5px 5px rgba(39, 39, 39, 0.178);
}

.example-spacer {
    flex: 1 1 auto;
}

.input-icon {
    width: 500px;
    border-radius: 15px;
    border: none;
    padding: 0% 1%;
}