<mat-toolbar *ngIf="!state" color="primary" style="position: fixed; z-index: 1;">
    <button routerLink="/home" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon >favorite</mat-icon>
    </button>
    <span style="cursor: pointer;" routerLink="/home">Appening</span>
    <span class="example-spacer"></span>
    <button routerLink="/search/string"  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon  >search</mat-icon>
    </button>
    <button routerLink="/my-account" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon   >person</mat-icon>
    </button>
</mat-toolbar>

<br><br><br>