/* You can add global styles to this file, and also import other style files */


@import '@angular/material/prebuilt-themes/indigo-pink.css';



*:focus {
    outline: none !important;
    border: 0 !important;
}

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    /* background-color: rgba(242, 242, 242, 0.603); */
    background-color: #4058B5;
}
